<div class= main>
  <h3>プロフィール</h3>

  <%= image_tag @user.face_image.url %><br>

  <table>
    <tr>
      <th><p>ユーザー名</p></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><p>メールアドレス</p></th>
      <td><%= @user.email %></td>
    </tr>
  </table>

  <br>

  <% if @user.id == current_user.id %>
    <%= link_to "プロフィールを編集する", edit_user_path(current_user.id) %>
  <% end %>

  <br>

  <%= link_to 'お気に入り一覧', favorites_path %>

</div>
