<h3>プロフィール</h3>

<table>
  <tr>
    <td>
      <%= image_tag @user.face_image.url %><br>
      <p>ユーザー名： <%= @user.name %></p>
      <p>メールアドレス: <%= @user.email %></p>
      <br>
    </td>
  </tr>
</table>

<% if @user.id == current_user.id %>
  <%= link_to "プロフィールを編集する", edit_user_path(current_user.id) %>
<% end %>
<br>
<%= link_to 'お気に入り一覧', favorites_path %>
