<div class= main>
  <%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>
    <% if @picture.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @picture.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>


    <div class="picture">
      <%= form.text_area :content, size: "80x10" %>
    </div>
    <div class="picture">
      <%= form.label :画像 %>
      <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>
    <br>
    <%= form.submit "確認"%>
    <br>
    <br>
    <%= link_to '戻る', pictures_path %>
  <% end %>
</div>
