<div class= main>
<table>
  <% @pictures.each do |picture| %>
    <tr>
      <td>
        <div class="box">
        <p><b>投稿者： <%= picture.user.name %></b></p>
        <%= image_tag picture.image %><br>
        <%= simple_format(picture.content) %>

        <div class="icon">
        <% if picture.user_id == current_user.id %>
          <%= link_to image_tag('pen.png'), edit_picture_path(picture.id) %>
          <%= link_to image_tag('delete2.png'), picture_path(picture.id), method: :delete, data: {confirm: '削除を実行しますか？'} %>
        <% end %>

        <% favorite = current_user.favorites.find_by(picture_id: picture.id) %>
        <% unless picture.user_id == current_user.id %>
          <% if favorite.present? %>
            <%= link_to image_tag('heart_black.png'), favorite_path(id: favorite.id), method: :delete %>
          <% else %>
            <%= link_to image_tag('heart_white.png'), favorites_path(picture_id: picture.id), method: :post %>
          <% end %>
        <% end %>
        </div>

        </div>
      </td>
    </tr>
  <% end %>
</table>
</div>
