<!DOCTYPE html>
<html>
  <head>
    <title>Instagramクローン</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class>
        <p class="header">instagram clone</p>
        <nav class="menu">
          <ul class="row">
            <li class="col-md-3"><%= link_to "一覧", pictures_path %></li>
            <li class="col-md-3"><%= link_to '新規投稿', new_picture_path %></li>

            <% if logged_in? %>
              <li class="col-md-3"><%= link_to "プロフィール", user_path(current_user.id) %></li>
              <li class="col-md-3"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
            <% else %>
              <li class="col-md-3"><%= link_to "ユーザー登録", new_user_path %></li>
              <li class="col-md-3"><%= link_to "ログイン", new_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>

      <div class="flash">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>

      <%= yield %>

    </div>

    <footer>
      <p>201906</p>
    </footer>

  </body>
</html>
